#blog {
    .parallax {
        background-image: url("../images/parallax-14.jpg");
        height: 300px;
        background-attachment: fixed;
        background-position: 50% 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .content {
        padding-bottom: 50px;
        .article, .single-article {
            width: 100%;
            padding: 20px 0;
            margin-bottom: 20px;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top: -6px;
                left: -6px;
                right: -6px;
                bottom: -6px;
                z-index: -1;
                background-image: -webkit-linear-gradient(left, $grey 70%, transparent 70%),
                -webkit-linear-gradient(left, $grey 70%, transparent 70%),
                -webkit-linear-gradient(top, $grey 70%, transparent 70%),
                -webkit-linear-gradient(top, $grey 70%, transparent 70%);

                background: linear-gradient(left, $grey 70%, transparent 70%),
                linear-gradient(left, $grey 70%, transparent 70%),
                linear-gradient(top, $grey 70%, transparent 70%),
                linear-gradient(top, $grey 70%, transparent 70%);
                background-size: 0 0, 20px 1px, 0 0, 0 0;
                background-repeat: repeat-x;
                background-position: 0 0, left bottom, 0 0, right 0;
            }
            .article-details {
                position: relative;
                .article-date {
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    border: 7px solid $light-grey;
                    position: relative;
                    background-color: $white;
                    overflow: hidden;
                    white-space: nowrap;
                    div {
                        width: 100%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: $light-green;
                        font-size: 35px;
                    }
                }
                .article-info {
                    padding-top: 40px;
                    color: $grey;
                    overflow: hidden;
                    width: 100%;
                    white-space: nowrap;
                    margin-bottom: 40px;
                    li {
                        padding-right: 15px;
                        .category, i {
                            color: $light-green;
                        }
                        i {
                            padding-right: 5px;
                        }
                        @media(max-width: 600px) {
                            padding-right: 5px;
                        }
                    }
                    li:not(:last-child) {
                        position: relative;
                        &:after {
                            content: '|';
                            position: absolute;
                            top: 0;
                            right: 0;
                            color: $light-grey;
                        }
                    }
                    @media(max-width: 600px) {
                        padding-top: 15px;
                    }
                }
                &:before {
                    content: '';
                    width: 100%;
                    height: 1px;
                    background: $light-grey;
                    position: absolute;
                    top: 63px;
                    left: 0;
                    @media(max-width: 600px) {
                        top: 35px;
                    }
                }
            }
        }
        .sort-block {
            padding: 30px 0 0;
            .btn {
                background: transparent;
                border: 1px solid $light-green;
                border-radius: 0;
                color: $grey;
            }
            .btn-caret {
                background: $light-green;
                .caret {
                    color: $white;
                }
            }
        }

        /* PAGE WITH ARTICLE */
        .single-article {
            border-bottom: 1px solid $light-grey;
            &:before {
                display: none;
            }
            .tags {
                .tags-item {
                    color: $light-green;
                }
            }
        }
        .post-comment {
            padding: 20px 0;
            margin: 20px 0;
            border-top: 2px solid $light-grey;
            border-bottom: 2px solid $light-grey;
            .post-form {
                padding: 20px 0;
                p {
                    padding: 0;
                }
                .post-form-control {
                    background: $light-grey;
                    padding: 10px;
                    margin-bottom: 30px;
                    &::-webkit-input-placeholder,
                    &::placeholder {
                        color: $grey;
                    }

                }
                input {
                    height: 50px;
                }
            }
        }
    }
}