<nav class="menu" id="menu">
  <ul class="list-unstyled text-center menu-items" role="tablist">
    <li class="hidden-xxs">
      <a routerLink="home">
        <i class="fas fa-user"></i>
        <div class="item-text text-uppercase">about</div>
      </a>
    </li>
    <li class="hidden-xxs">
      <a>
        <i class="fas fa-images"></i>
        <div class="item-text text-uppercase">portfolio</div>
      </a>
    </li>
    <li class="hidden-xxs">
      <a>
        <i class="fa fa-building" aria-hidden="true"></i>
        <div class="item-text text-uppercase">work experience</div>
      </a>
    </li>
    <li class="hidden-xxs">
      <a data-ng-click="vm.scrollTo('skills')">
        <i class="fa fa-cogs" aria-hidden="true"></i>
        <div class="item-text text-uppercase">skills</div>
      </a>
    </li>
    <li class="hidden-xxs">
      <a>
        <i class="fas fa-file"></i>
        <div class="item-text text-uppercase">resume</div>
      </a>
    </li>
    <li class="hidden-xxs">
      <a>
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        <div class="item-text text-uppercase">education</div>
      </a>
    </li>
    <li>
      <a routerLink="blog">
        <i class="fa fa-rss" aria-hidden="true"></i>
        <div class="item-text text-uppercase">blog</div>
      </a>
    </li>
    <li class="hidden-xxs">
      <a>
        <i class="fa fa-address-card" aria-hidden="true"></i>
        <div class="item-text text-uppercase">contacts</div>
      </a>
    </li>
  </ul>
</nav>
